# Ignore any zip archives
*.zip

# Ignore auxilary files used for intermediate reporting
*.pdf
*.odt

# Ignore directories
presentations
data/*
dask-worker-space
.ipynb_checkpoints
.vscode
vsc/debug

# Except R-tree index files
#!data/roads.*
